In [2]:
# Dependencies
import pandas as pd
import os

In [3]:
# Store filepath in a variable
file_one = os.path.join("Resources", "Hawaii_measurements.csv")
file_two = os.path.join("Resources", "Hawaii_stations.csv")

In [4]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
file_one_df = pd.read_csv(file_one, encoding="ISO-8859-1")
file_two_df = pd.read_csv(file_two, encoding="ISO-8859-1")

In [5]:
# Show 5 rows and the header 
file_one_df.tail()

           station        date  prcp  tobs
19545  USC00516128  2017-08-19  0.09    71
19546  USC00516128  2017-08-20   NaN    78
19547  USC00516128  2017-08-21  0.56    76
19548  USC00516128  2017-08-22  0.50    76
19549  USC00516128  2017-08-23  0.45    76

In [6]:
# Show 5 rows and the header 
file_two_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [7]:
# Identify incomplete rows
file_one_df.count()

station    19550
date       19550
prcp       18103
tobs       19550
dtype: int64

In [8]:
# Drop all rows with missing information
cleaned_file_one_df = file_one_df.dropna(how='any')

In [9]:
# Show 5 rows and the header 
cleaned_file_one_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
5  USC00519397  2010-01-07  0.06    70

In [10]:
# Identify incomplete rows
cleaned_file_one_df.count()

station    18103
date       18103
prcp       18103
tobs       18103
dtype: int64

In [46]:
# Export file as a CSV, without the Pandas index, but with the header
cleaned_file_one_df.to_csv("Resources/cleaned_hawaii_measurements.csv", index=True, header=True)